@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import "tailwindcss";
@plugin "daisyui";

/* .mm {
    background-image: url('./assets/vecteezy_ai-generated-a-bottle-of-perfume-with-flowers-on-a-pink_35720062.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100dvh;
} */

/* hteme-color */
@theme {}